<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #ddd;
      }
      .box {
        background-color: white;
        /* height: 50px; */
        /* overflow: hidden; */
      }
      img {
        float: left;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .clearfix {
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="../images/left-arrow.png" alt="" class="left" />
      <img src="../images/right-arrow.png" alt="" class="right" />
      <p class="clearfix">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum,
        ratione distinctio magnam eveniet sit, quisquam maxime veniam
        praesentium deserunt natus aperiam tempora asperiores. Consequuntur sit
        esse veritatis provident quidem quam quisquam vitae iure, pariatur
        laborum, accusamus quaerat, delectus samet omnis excepturi placeat.
        Fugit aspernatur eos numquam laudantium, voluptatem consequatur debitis.
        Nihil esse numquam voluptatibus rem quos non repudiandae ducimus, iusto
        mollitia modi illum quo repellat dolorem blanditiis? Earum mollitia
        cumque quae sapiente dolor incidunt veritatis fuga reiciendis.
        Repudiandae sit et doloremque hic, architecto error perspiciatis
        cupiditate, mollitia quis ipsum accusantium ullam explicabo repellendus
        nisi natus voluptas aliquid! Nihil, labore corrupti.
      </p>
    </div>
  </body>
</html>
