<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .picture {
        float: left;
      }
      p {
        border: 10px solid;
      }
    </style>
  </head>
  <body>
    <div class="picture">
      <img src="http://placehold.it/200x200" alt="" />
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque
      repudiandae fugit maxime. Incidunt voluptas necessitatibus fuga.
      Asperiores ducimus maiores magni unde deleniti non, exercitationem aliquid
      pariatur cum ab sapiente quaerat laboriosam sit molestiae, tempore
      obcaecati id ipsa perspiciatis! Sint, dolor nobis? Debitis rem, corporis
      officiis qui, quia earum, dignissimos ea temporibus libero numquam
      laboriosam velit reprehenderit alias sunt odit. Fugit obcaecati quos
      provident dolore dolorum iusto alias optio placeat? Ipsum, possimus? Ad,
      eveniet. Libero, quia ex dolorem, sequi dicta tempora est placeat culpa
      unde dignissimos aut ratione. Maiores, nulla harum quam quibusdam aliquam,
      magni placeat vel, vitae architecto doloremque ducimus tempora laborum
      reprehenderit obcaecati qui amet vero accusantium mollitia hic! Laudantium
      nemo quibusdam, laborum fugit doloremque consectetur rem repudiandae vel
      adipisci, in dolores aut, nulla amet. A, eligendi quisquam eum delectus
      nobis quos accusantium corporis quasi. Dolores excepturi rerum ex tempore
      aliquid quas consectetur natus qui veritatis. Quidem, consectetur.
      Nesciunt, sapiente autem adipisci aliquam enim nulla culpa dolores
      mollitia corrupti repudiandae reprehenderit itaque necessitatibus veniam
      omnis nemo exercitationem quo tempora! Illo, nobis eos? Temporibus ullam
      quam ipsa qui, delectus minus quis magni voluptatibus dolores, sequi,
      iusto deleniti ab! Vel, atque deleniti accusamus tempore nihil nobis
      expedita ducimus officiis odio incidunt ab nam repellat assumenda qui
      provident voluptatum, fuga ut. Commodi fuga, odit quia quidem accusamus
      porro ratione totam voluptatum. Nihil voluptatibus quae iste modi
      repellendus sunt alias nemo adipisci amet? Totam sit ut doloribus optio
      dolore tenetur voluptate nulla facere assumenda illo, sequi distinctio
      labore reprehenderit corrupti iste ab asperiores eius voluptatem minus
      omnis. Accusantium, nesciunt cum nam dolorum perspiciatis minima illo
      exercitationem iusto eum assumenda sunt. Sunt quod pariatur itaque
      provident illum? Nam facilis iure aperiam dignissimos recusandae fuga
      earum eaque sit quia, adipisci laborum quidem rerum delectus aliquid.
      Magni praesentium velit quae omnis ab, eum voluptas expedita.
    </p>
  </body>
</html>
