<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      span {
        background-color: blue;
        color: white;
        margin: 10px;
        width: 100px;
        height: 100px;
        float: left;
        /* display: inline-block; */
      }
    </style>
  </head>
  <body>
    <span>1</span>
    <!--인라인 요소-->
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
  </body>
</html>
