<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="float9.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트 제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
        <ul>
          <li>
            대한민국은 민주공화국이다. 국회는 의장 1인과 부의장 2인을 선출한다.
            대통령은 내우·외환·천재·지변 또는 중대한 재정·경제상의 위기에 있어서
            국가의 안전보장 또는 공공의 안녕질서를 유지하기 위하여 긴급한 조치가
            필요하고 국회의 집회를 기다릴 여유가 없을 때에 한하여 최소한으로
            필요한 재정·경제상의 처분을 하거나 이에 관하여 법률의 효력을 가지는
            명령을 발할 수 있다.
          </li>
        </ul>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          모든 국민은 사생활의 비밀과 자유를 침해받지 아니한다. 국회는 선전포고,
          국군의 외국에의 파견 또는 외국군대의 대한민국 영역안에서의 주류에 대한
          동의권을 가진다.
        </p>
        <p>
          국가는 전통문화의 계승·발전과 민족문화의 창달에 노력하여야 한다.
          예비비는 총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은
          차기국회의 승인을 얻어야 한다.
        </p>
        <p>
          대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 대통령의 국법상
          행위는 문서로써 하며, 이 문서에는 국무총리와 관계 국무위원이 부서한다.
          군사에 관한 것도 또한 같다.
        </p>
      </div>
      <div id="footer">
        <h2>푸터</h2>
        <ul>
          <li>
            국무총리·국무위원 또는 정부위원은 국회나 그 위원회에 출석하여
            국정처리상황을 보고하거나 의견을 진술하고 질문에 응답할 수 있다.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
