<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .overflow {
        background-color: silver;
        border: 1px solid;
        height: 200px;
        overflow: visible; /* hidden, scroll, auto*/
      }
    </style>
  </head>
  <body>
    <p class="overflow">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque qui
      eos ipsum architecto. Excepturi quas perspiciatis sit facilis, quae labore
      ad maxime cumque ipsa, beatae unde, quam alias aut quaerat voluptatum odio
      est odit itaque vel temporibus et nesciunt neque earum fuga? Harum
      praesentium unde nihil fugiat architecto magni a, ex perspiciatis tempora
      totam deleniti voluptate nulla reprehenderit exercitationem provident
      ratione. Minima soluta perspiciatis mollitia et consequuntur obcaecati
      quibusdam quod odit aut nesciunt architecto dignissimos ab consectetur
      dolor, placeat quaerat inventore, provident quas minus dolores atque quae?
      Obcaecati soluta magnam quibusdam et ipsa sit ipsum. Nisi impedit dolor
      culpa nam esse ad dignissimos, labore expedita dolore delectus eligendi
      ipsum ab iure facilis ducimus deserunt illo laborum minima ipsa sunt
      dolores soluta. Blanditiis fugiat praesentium illum maxime? Rem architecto
      adipisci ducimus facilis ipsum quaerat nam veniam suscipit repudiandae
      sequi, asperiores accusantium, error totam! Consequatur, quam natus qui at
      pariatur dolore tempore fugiat ea autem vel animi unde optio
      necessitatibus inventore officiis ducimus esse. Earum quam, aut quidem
      consequatur vitae natus nesciunt mollitia praesentium repudiandae dolore,
      ipsam incidunt possimus dolorem tenetur in quos magnam deleniti quod? Sed
      laudantium necessitatibus omnis illum officiis, culpa corrupti? In rem
      itaque et impedit quae provident repudiandae. Officiis voluptatem numquam
      ad quo aut, aliquam eum repellendus mollitia blanditiis nobis esse
      corrupti culpa dolor error pariatur minima aliquid quod et assumenda, ipsa
      nemo. Ab, dicta asperiores aperiam corrupti, mollitia numquam sint, ea
      voluptates repudiandae deserunt quis hic voluptatum odit inventore
      explicabo fugiat aliquam quisquam esse impedit sit reprehenderit quasi
      aliquid exercitationem! Numquam est placeat quisquam ipsam fugiat quis
      assumenda. Quasi doloribus facere dolore veniam officiis libero aperiam
      minus, dignissimos explicabo beatae! Quis, modi. Ullam modi excepturi sunt
      aut quod, quaerat fugit amet veritatis, veniam minus esse consectetur
      accusantium voluptates et asperiores aliquam similique deleniti
      aspernatur, id laborum! Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Commodi, nesciunt deleniti! Nostrum culpa soluta
      accusamus voluptate, consequatur inventore magnam, voluptas sunt
      exercitationem in quisquam quos nam blanditiis quas. Itaque mollitia
      architecto non veniam distinctio soluta tempore magnam eligendi magni
      doloribus, eius sed dolorem pariatur. Vero libero consequatur ullam qui
      quasi, rem ex illum cumque fugit ipsam praesentium doloremque nihil
      consequuntur, ad sapiente? Autem, nulla assumenda sit soluta natus ipsum
      quasi ab quisquam. Doloribus maiores minus unde quam voluptate quia dicta
      mollitia consequatur fugiat eius ducimus in fugit eos, ratione natus rem
      rerum? Ea deleniti doloremque atque facere eum fugit obcaecati quibusdam
      voluptates molestiae esse exercitationem porro quia, quos asperiores
      aspernatur vel sapiente libero cum corporis mollitia laboriosam
      consequatur in doloribus. Laborum eveniet omnis itaque fugiat voluptas non
      nam porro vitae blanditiis molestias eaque nihil labore officiis tempora
      beatae possimus amet, ex cumque inventore, optio dolorum, cum autem earum.
      Earum pariatur voluptatum optio molestiae, porro eveniet iusto expedita at
      reiciendis, delectus libero? Nihil omnis accusantium iure sapiente maxime
      ipsa! Blanditiis, asperiores adipisci laborum incidunt sit nulla minus
      suscipit temporibus porro eum accusamus ut placeat id doloremque illo
      dicta hic debitis nostrum cum atque totam. Fugit magnam deserunt numquam
      animi expedita tenetur.
    </p>
  </body>
</html>
