<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="http://placehold.it/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae amet,
      possimus doloribus consectetur eos ipsa aperiam. Suscipit dolorem
      perspiciatis temporibus esse nobis illo tempore adipisci corrupti quam,
      harum commodi sed iure dignissimos fugiat nihil, impedit in reprehenderit.
      Voluptates vero minima, quidem maxime quas commodi. Vel, vero illum.
      Suscipit rem adipisci sit nihil. Nulla voluptatibus vel veritatis facere
      explicabo ab ullam molestiae non ad, adipisci, accusamus et asperiores eos
      doloribus necessitatibus eligendi. Eaque qui cumque quos ipsa id vitae
      eligendi reprehenderit non voluptatum possimus magni, quasi dolor tempora
      ratione quo dignissimos cum quaerat, repudiandae pariatur officia.
      Veritatis fuga repellat quam facilis aliquid, quia odio. Id repellat
      similique veritatis, tenetur quo dicta natus eius libero? Dignissimos
      deserunt recusandae animi explicabo similique error, cumque ad, a
      repudiandae unde veniam amet atque magni! Voluptatibus tenetur minus
      architecto sint labore, ipsam cupiditate, suscipit magni, iste ullam
      repellat? Tenetur tempore minus dicta quas natus voluptatem cumque
      delectus nam blanditiis perferendis debitis, molestias consectetur
      doloremque numquam libero consequuntur ut veniam modi hic. Facilis magni
      assumenda cumque excepturi numquam est corrupti ducimus! Eaque dolore
      minima perspiciatis distinctio vero nisi sunt mollitia impedit minus
      voluptas provident rerum voluptate voluptates beatae sapiente, nihil
      praesentium et? Dolore, vero? Reprehenderit facilis, vitae deserunt,
      sapiente optio distinctio ullam minus assumenda ipsam eum quis rerum
      numquam itaque adipisci maxime quidem eligendi, minima voluptatum nulla.
      Consequuntur incidunt libero sint vitae perferendis, doloremque facilis!
      Rerum vero omnis nihil, tempore soluta exercitationem possimus dolore
      debitis blanditiis, enim commodi molestiae facilis dolorem voluptatem
      voluptate. Voluptatem dolores debitis ex error tempore, rerum adipisci
      explicabo quis? Quis facilis sit magni officiis pariatur nostrum
      perferendis molestias fugit assumenda corporis, dolorem minus eius ratione
      rem quos ducimus nulla! Eum tempora repellat beatae pariatur nemo hic
      consectetur quisquam iure, aspernatur id aut enim reiciendis atque quam
      officiis quia similique ipsam ad. Illum assumenda perspiciatis voluptas
      atque doloribus dignissimos harum libero commodi architecto voluptatum
      nesciunt deserunt, ex saepe laudantium repellat possimus est nulla quas!
      Velit nam ipsa ut eos maiores a explicabo dolorum nostrum laudantium,
      tempora ab amet voluptas. Quam doloremque in sequi dolor voluptatum,
      provident consequatur illum praesentium, doloribus at a reiciendis nihil
      cum sit quibusdam! Tempore illo laboriosam similique blanditiis. Sunt qui
      minima numquam deserunt porro, vero consectetur quisquam in obcaecati
      alias eveniet asperiores veritatis odit nobis ipsam ex architecto ad
      harum! Commodi unde doloribus temporibus deserunt! Repellat earum libero
      fuga repudiandae atque quod quisquam labore tenetur aspernatur modi.
      Reiciendis odit aut reprehenderit labore accusantium distinctio? Corporis
      neque reprehenderit molestias culpa dolorem distinctio facere veritatis
      delectus laborum, quod quasi corrupti necessitatibus magnam vitae
      accusamus alias eius sint dignissimos dolore optio placeat at inventore
      cum. Quis laudantium voluptatem corporis tempora molestias doloremque
      excepturi odit. Cum doloribus sequi quis laborum repellendus eos hic quo
      laudantium incidunt ad accusantium odit temporibus nulla, repudiandae odio
      minima! Suscipit molestiae, omnis deserunt asperiores, commodi nam atque
      odit assumenda voluptates sint blanditiis incidunt consequuntur
      praesentium magnam doloremque perferendis voluptatibus voluptatum. Rem
      itaque, perspiciatis sunt soluta ipsa consequuntur eum magnam, sequi
      distinctio quod obcaecati sint temporibus amet, facilis ut architecto.
    </p>
  </body>
</html>
