footer {
  background-color: #78c2ad;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
.foo_div1 {
  text-align: center;
}
.foo_div1 span {
  font-size: 15px;
  color: white;
}
.foo_div1 p {
  margin-top: 5px;
  color: white;
}
